html,
body {
    background-color: #09f;
}
.ng-cloak {
    display: none !important;
}
#ge-link {
    margin: 100px auto 0;
    width: 500px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border: 1px solid #000;
    md-slider {
        width: 200px;
    }
}
