<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/angular-material/angular-material.css">
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body ng-app="DeviceApp">

    <div ng-controller="DeviceController">

        <md-card id="ge-link" class="ng-cloak">
            <md-card-content>
                <h2>{{bedroom_lamp.name}}</h2>
                <p>{{bedroom_lamp.type}}</p>
                <p>{{bedroom_lamp}}</p>

                <div class="md-actions" layout="row" layout-align="end">
                    <md-checkbox ng-model="bedroom_lamp.state.powered">Power</md-checkbox>
                    <md-slider ng-model="bedroom_lamp.state.brightness" min="0" max="1" step=".05" name="brightness">
                        Brightness
                    </md-slider>
                </div>

            </md-card-content>
        </md-card>

    </div>

    <script src="/static/angular/angular.js"></script>
    <script src="/static/angular-aria/angular-aria.js"></script>
    <script src="/static/angular-animate/angular-animate.js"></script>
    <script src="/static/angular-material/angular-material.js"></script>
    <script src="/site/assets/js/controllers.js"></script>

</body>

</html>
